.post__wrap {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}

.post__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post__inner {
  margin-left: 20px;
}

.post__like-btn {
  outline: unset;
  border: 2px inset transparent;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.post__like-btn:active {
  border: 2px inset rgb(73, 66, 66);
}