
.messageInputForm {
  display: flex;
  width: 100%;
}

.messageInput {
  display: inline-block;
  flex: 1;
  padding: 7px;
}

.messageSubmitBtn {
  display: inline-block;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 500;
  outline: unset;
  background: rgb(0, 174, 255);
  padding: 10px;
}

.messageSubmitBtn:hover {
  border-color: #000;
}